<mat-card>
    <mat-card-content>
      <form [formGroup]="form">
        <div class="title">Reset password</div>
  
        <mat-form-field appearance="outline">
          <input
            matInput
            formControlName="Password"
            placeholder="New password"
            name="newPassword"
            type="password"
            required
          />
        </mat-form-field>
        <small
          class="text-danger"
          *ngIf="form.get('Password')!.hasError('minlength')"
        >
          Password must have at least 8 characters.
        </small>
        <small
          class="text-danger"
          *ngIf="form.get('Password')!.hasError('maxlength')"
        >
          Password must not have more than 30 characters.
        </small>
  
        <mat-form-field appearance="outline">
          <input
            matInput
            formControlName="ConfirmPassword"
            placeholder="Confirm new password"
            name="confirmNewPassword"
            type="password"
            required
          />
        </mat-form-field>
        <small
          class="text-danger"
          style="display: block"
          *ngIf="
            form.hasError('matchingPasswordsError') &&
            form.controls['ConfirmPassword'].value !== ''
          "
          >Passwords are not matching</small
        >
  
        <button
          mat-raised-button
          class="reset-button"
          color="primary"
          [disabled]="form.invalid"
          (click)="sendResetRequest()"
        >
          Change password
        </button>
      </form>
    </mat-card-content>
  </mat-card>
  
