mat-card {
    width: 400px;
    margin: 2em auto;
    text-align: center;
}

.title {
    font-family: "Lexend Peta", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

mat-form-field {
    display: block;
    margin-top: 10px;
}

.left-spacing {
    margin-left: 5px;
}

.top-spacing {
    margin-top: 15px;
}

.text-danger {
    color: rgb(243, 62, 62);
    font-weight: bold;
    margin-bottom: 5px;
}

.reset-button {
    width: 50%;
    background-color: rgb(44, 44, 44);
    color: white;
}

.reset-button:disabled {
    background-color: gray;
    color: white;
}