<mat-toolbar color="primary">
    <span class="name" (click)="onLogoClick()">ReaderZone</span>
    <div *ngIf="user" class="navbar-options">
        <button mat-button>Home</button>
        <button mat-button routerLink="/shop">Shop</button>
        <button mat-button>My Books</button>
        <button mat-button>Profile</button>        
    </div>
    <div *ngIf="user" class="navbar-logout">
        <button (click)="logout()" class="logout-button" mat-icon-button>
            <mat-icon [inline]="true">exit_to_app</mat-icon>
        </button>
    </div>
    <div *ngIf="!user" class="sign-log-buttons">
        <button mat-raised-button class="sign-log-button" (click)="register()">Sign up</button>
        <button mat-raised-button class="sign-log-button" (click)="login()">Log in</button>
    </div>
</mat-toolbar>
