.main-container-shop {
    display: flex;
}

.filters {
    flex: 3;
}

.books-grid {
    flex: 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    margin: 15px;
}

.cart {
    flex: 2;
}