mat-card {
    width: 200px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .card {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.image-container {
    max-width: 200px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
}

.book-image {
    width: 80%;
    height: auto;
    display: block;
    transition: all .2s ease-in-out;
    position: relative;
    top: 0;
    left: 0;
}

.discount-image {
    position: absolute;
    top: -15px;
    left: -15px;
    width: 40%;
    height: 33%;
}

.book-image:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.title {
    margin-top: 10px;
    font-size: larger;
    font-weight: 500;
    text-align: center;
}

.title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.author {
    margin-top: 10px;
    color: rgb(99, 99, 99);
    text-align: center;    
}

.author a {
    text-decoration: none;
    color: gray;
}

.author:hover {
    text-decoration: underline;
    cursor: pointer;
}

.price {
    margin-top: 20px;
    color: rgb(95, 95, 255);
}

.not-price {
    margin-top: 20px;
    color: rgb(95, 95, 255);
    text-decoration: line-through;
}

.discount-price {
    margin-top: 5px;
    color: rgb(255, 0, 0);
}

.button-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
}

.button-container .button {
    width: 80%;
    background-color: rgb(44, 44, 44);    
}

.button-container .button-clicked {
    background-color: rgb(250, 193, 120);
    color: black;
    width: 80%;
}

.sold-out-button:disabled {
    width: 80%;
    color: white;
    background-color: rgb(62, 62, 201);
}