<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Fiction
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="checkboxes">
            <mat-checkbox (change)="toggleCheckbox('Fantasy')" name="Fantasy">Fantasy</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('Science Fiction')" name="Science Fiction">Science Fiction</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('Mystery/Thriller')" name="Mystery/Thriller">Mystery/Thriller</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('Romance')" name="Romance">Romance</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('Historical Fiction')" name="Historical Fiction">Historical Fiction</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('Contemporary Fiction')" name="Contemporary Fiction">Contemporary Fiction</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('Literary Fiction')" name="Literary Fiction">Literary Fiction</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('Adventure')" name="Adventure">Adventure</mat-checkbox>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Non-Fiction
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="checkboxes">
            <mat-checkbox (change)="toggleCheckbox('Biography/Memoir')" name="Biography/Memoir">Biography/Memoir</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('Self-Help')" name="Self-Help">Self-Help</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('Health/Fitness')" name="Health/Fitness">Health/Fitness</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('History')" name="History">History</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('Science')" name="Science">Science</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('Technology')" name="Technology">Technology</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('Psychology')" name="Psychology">Psychology</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('Cooking/Food')" name="Cooking/Food">Cooking/Food</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('Travel')" name="Travel">Travel</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('Philosophy')" name="Philosophy">Philosophy</mat-checkbox>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Children's Books
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="checkboxes">
            <mat-checkbox (change)="toggleCheckbox('Picture Books')" name="Picture Books">Picture Books</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('Early Readers')" name="Early Readers">Early Readers</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('Middle-Grade Fiction')" name="Middle-Grade Fiction">Middle-Grade Fiction</mat-checkbox>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Academic/Textbooks
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="checkboxes">
            <mat-checkbox (change)="toggleCheckbox('Mathematics')" name="Mathematics">Mathematics</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('Science')" name="Science">Science</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('Social Sciences')" name="Social Sciences">Social Sciences</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('Literature')" name="Literature">Literature</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('History')" name="History">History</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('Art')" name="Art">Art</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('Business/Economics')" name="Business/Economics">Business/Economics</mat-checkbox>           
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Religion/Spirituality
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="checkboxes">
            <mat-checkbox (change)="toggleCheckbox('Christianity')" name="Christianity">Christianity</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('Islam')" name="Islam">Islam</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('Buddhism')" name="Buddhism">Buddhism</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('Hinduism')" name="Hinduism">Hinduism</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('New Age/Spirituality')" name="New Age/Spirituality">New Age/Spirituality</mat-checkbox>         
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Other categories
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="checkboxes">
            <mat-checkbox (change)="toggleCheckbox('Graphic Novels/Comics')" name="Graphic Novels/Comics">Graphic Novels/Comics</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('Poetry')" name="Poetry">Poetry</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('Anthologies/Short Stories')" name="Anthologies/Short Stories">Anthologies/Short Stories</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('Classic Literature')" name="Classic Literature">Classic Literature</mat-checkbox>
            <mat-checkbox (change)="toggleCheckbox('Art/Photography')" name="Art/Photography">Art/Photography</mat-checkbox>         
            <mat-checkbox (change)="toggleCheckbox('Music')" name="Music">Music</mat-checkbox>
        </div>
    </mat-expansion-panel>
</mat-accordion>