<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Fiction
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="checkboxes">
            <mat-checkbox>Fantasy</mat-checkbox>
            <mat-checkbox>Science Fiction</mat-checkbox>
            <mat-checkbox>Mystery/Thriller</mat-checkbox>
            <mat-checkbox>Romance</mat-checkbox>
            <mat-checkbox>Historical Fiction</mat-checkbox>
            <mat-checkbox>Contemporary Fiction</mat-checkbox>
            <mat-checkbox>Literary Fiction</mat-checkbox>
            <mat-checkbox>Adventure</mat-checkbox>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Non-Fiction
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="checkboxes">
            <mat-checkbox>Biography/Memoir</mat-checkbox>
            <mat-checkbox>Self-Help</mat-checkbox>
            <mat-checkbox>Health/Fitness</mat-checkbox>
            <mat-checkbox>History</mat-checkbox>
            <mat-checkbox>Science</mat-checkbox>
            <mat-checkbox>Technology</mat-checkbox>
            <mat-checkbox>Psychology</mat-checkbox>
            <mat-checkbox>Cooking/Food</mat-checkbox>
            <mat-checkbox>Travel</mat-checkbox>
            <mat-checkbox>Philosophy</mat-checkbox>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Children's Books
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="checkboxes">
            <mat-checkbox>Picture Books</mat-checkbox>
            <mat-checkbox>Early Readers</mat-checkbox>
            <mat-checkbox>Middle-Grade Fiction</mat-checkbox>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Academic/Textbooks
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="checkboxes">
            <mat-checkbox>Mathematics</mat-checkbox>
            <mat-checkbox>Science</mat-checkbox>
            <mat-checkbox>Social Sciences</mat-checkbox>
            <mat-checkbox>Literature</mat-checkbox>
            <mat-checkbox>History</mat-checkbox>
            <mat-checkbox>Art</mat-checkbox>
            <mat-checkbox>Business/Economics</mat-checkbox>           
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Religion/Spirituality
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="checkboxes">
            <mat-checkbox>Christianity</mat-checkbox>
            <mat-checkbox>Islam</mat-checkbox>
            <mat-checkbox>Buddhism</mat-checkbox>
            <mat-checkbox>Hinduism</mat-checkbox>
            <mat-checkbox>New Age/Spirituality</mat-checkbox>         
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Other categories
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="checkboxes">
            <mat-checkbox>Graphic Novels/Comics</mat-checkbox>
            <mat-checkbox>Poetry</mat-checkbox>
            <mat-checkbox>Anthologies/Short Stories</mat-checkbox>
            <mat-checkbox>Classic Literature</mat-checkbox>
            <mat-checkbox>Art/Photography</mat-checkbox>         
            <mat-checkbox>Music</mat-checkbox>
        </div>
    </mat-expansion-panel>
</mat-accordion>