<div class="customer-books-container">
    <mat-card>
        <div class="main-text">
            My Books
        </div>
        <div *ngIf="loading" class="books">
            <div class="loading">
                <mat-spinner></mat-spinner>
            </div>        
        </div>
        <div *ngIf="!loading">
            <div class="secondary-text">
                Want to Read
            </div>
            <app-customer-books-header></app-customer-books-header>
            <ng-container *ngFor="let b of wantToReadBooks">
                <app-customer-book (statusChanged)="onStatusChange($event)" [book]="b" [isRead]="false"></app-customer-book>
            </ng-container>
            <div *ngIf="wantToReadBooks.length === 0" class="no-books">
                No books
            </div>
            <div class="secondary-text">
                Reading
            </div>
            <app-customer-books-header></app-customer-books-header>
            <ng-container *ngFor="let b of readingBooks">
                <app-customer-book (statusChanged)="onStatusChange($event)" [book]="b" [isRead]="false"></app-customer-book>
            </ng-container>
            <div *ngIf="readingBooks.length === 0" class="no-books">
                No books
            </div>
            <div class="secondary-text">
                Read
            </div>
            <app-customer-books-header></app-customer-books-header>
            <ng-container *ngFor="let b of readBooks">
                <app-customer-book [book]="b" [isRead]="true"></app-customer-book>
            </ng-container>
            <div *ngIf="readBooks.length === 0" class="no-books">
                No books
            </div>
        </div>
    </mat-card>
</div>
