<div class="checkout-page">
    <div class="checkout-container">
        <mat-card class="checkout-card">
            <div class="main-text">
                Checkout
            </div>
            <div class="secondary-text">
                Personal data
            </div>
            <form [formGroup]="form">
                <div class="form-part">
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input
                            matInput
                            formControlName="name" 
                            name="name"
                        />
                    </mat-form-field>
                
                    <mat-form-field appearance="outline">
                        <mat-label>Surname</mat-label>
                        <input
                            matInput
                            formControlName="surname"            
                            name="surname"
                        />
                    </mat-form-field>
                </div>
                <div class="form-part">
                    <mat-form-field appearance="outline">
                        <mat-label>E-mail address</mat-label>
                        <input
                            matInput
                            formControlName="email"                                
                            name="email"
                        />
                    </mat-form-field>                    
              
                    <mat-form-field appearance="outline">
                        <mat-label>Phone number</mat-label>
                        <input
                            matInput
                            formControlName="phoneNumber"            
                            name="phoneNumber"
                        />
                    </mat-form-field>  
                </div>
                <div class="form-part">
                    <mat-form-field appearance="outline">
                        <mat-label>Street</mat-label>
                        <input
                          matInput
                          formControlName="street"  
                          name="street"
                        />
                    </mat-form-field>
            
                    <mat-form-field appearance="outline">
                        <mat-label>Street number</mat-label>
                        <input
                          matInput
                          formControlName="number"            
                          name="number"
                        />
                    </mat-form-field>
                </div>
                <div class="form-part">
                    <mat-form-field appearance="outline">
                        <mat-label>City</mat-label>
                        <input
                          matInput
                          formControlName="city"
                          name="city"
                        />
                    </mat-form-field>
            
                    <mat-form-field appearance="outline">
                        <mat-label>Postal code</mat-label>
                        <input
                          matInput
                          formControlName="postalCode"            
                          name="postalCode"
                        />
                    </mat-form-field>    
                </div>
                <div class="form-part">
                    <mat-form-field appearance="outline">
                        <mat-label>Country</mat-label>
                        <input
                          matInput
                          formControlName="country"
                          name="country"
                        />
                    </mat-form-field>
                </div>                                            
            </form>
            <div class="secondary-text">
                Payment
            </div>
            <div class="paypal" #paypal>

            </div>
        </mat-card>
    </div>
    <div class="cart">
        <app-cart></app-cart>
    </div>
</div>
