<mat-card class="card">
  <h1 class="title">Forgotten password</h1>
  <mat-card-content class="card-content">
    <p>
      Enter e-mail address that is connected to your account.
        There you will receive e-mail with further instructions.
    </p>
    <span style="display: flex; justify-content: center;">
      <form>
        <mat-form-field appearance="outline">
          <mat-label>E-mail address</mat-label>
          <input matInput type="text" [formControl]="email" />
        </mat-form-field>
      </form>
    </span>
  </mat-card-content>
  <mat-card-actions style="text-align: center">
    <button mat-button style="color: green" (click)="onConfirmClick()">
      Send request
    </button>
    <button mat-button (click)="onCancelClick()">Cancel</button>
  </mat-card-actions>
</mat-card>
  
