.card {
  max-width: 400px;
  max-height: 100%;
}

.title {
  display: block;
  text-align: center;
  font-family: "Lexend Peta", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

form {
  margin-top: 20px;
}

p {
    text-align: center;
}