<mat-card class="add-author-card">
    <div class="author-form">
        <div class="edit-label">Add new author</div>
        <form [formGroup]="form">                          
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input
                  matInput
                  formControlName="name"            
                  name="name"
                />
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label>Surname</mat-label>
                <input
                  matInput
                  formControlName="surname"
                  name="surname"
                />
            </mat-form-field>
        </form>
        <div class="buttons">
            <button class="add-author-button" [disabled]="!form.valid" mat-flat-button (click)="addAuthor()">Add</button>
            <button (click)="onCancelClick()" mat-stroked-button>Cancel</button>
        </div>
    </div>
</mat-card>

