.login-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.login-card {
    min-width: 25%;    
    text-align: center;
}

#login-label {
  font-family: "Lexend Peta", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
}
  
mat-form-field {
  display: block;
  margin-top: 10px;
}

#login-button {
  width: 50%;
  background-color: rgb(44, 44, 44);
  color: white;
}

#login-button:disabled {
  background-color: gray;
  color: white;
}

mat-divider {
  margin-top: 15px !important; 
  margin-bottom: 15px !important
}

.forgotten-label {
  font-family: "Lexend Peta", "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.forgotten-link {
  font-family: "Lexend Peta", "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.forgotten-link:hover {
  color: rgb(51,102,204);
}