<div class="login-container">
    <mat-card class="login-card">
      <form [formGroup]="form">
        <h3 id="login-label">Log in to your account</h3>
  
        <mat-form-field appearance="outline">
          <mat-label>E-mail address</mat-label>
          <input
            matInput
            formControlName="Email"            
            name="email"
          />
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="Password"
            type="password"            
            name="password"
          />
        </mat-form-field>
  
        <button
          mat-raised-button
          type="button"
          id="login-button"
          color="primary"
          [disabled]="form.invalid"
          (click)="loginRequest()"
        >
          Log in
        </button>
        <mat-divider inset></mat-divider>
        <h4>Forgotten password?</h4>
        <a (click)="openForgotPasswordDialog()" href="javascript:void(0);">
          Click here!</a
        >
      </form>
  </mat-card>    
</div>