<div class="register-container">
    <mat-card class="register-card">
      <form [formGroup]="form">
        <div id="register-label">Create your account</div>
  
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            formControlName="Username"            
            name="username"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>E-mail address</mat-label>
            <input
              matInput
              formControlName="Email"            
              name="email"
            />
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="Password"
            type="password"            
            name="password"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Confirm password</mat-label>
            <input
              matInput
              formControlName="ConfirmPassword"
              type="password"            
              name="confirmPassword"
            />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input
              matInput
              formControlName="Name"            
              name="name"
            />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Surname</mat-label>
            <input
              matInput
              formControlName="Surname"            
              name="surname"
            />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Phone number</mat-label>
            <input
              matInput
              formControlName="PhoneNumber"            
              name="phoneNumber"
            />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Date of birth</mat-label>
            <input 
              matInput
              [matDatepicker]="picker"
              formControlName="Dob"
              name="dob">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Street</mat-label>
            <input
              matInput
              formControlName="Street"  
              name="street"
            />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Street number</mat-label>
            <input
              matInput
              formControlName="Number"            
              name="number"
            />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input
              matInput
              formControlName="City"
              name="city"
            />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Postal code</mat-label>
            <input
              matInput
              formControlName="PostalCode"            
              name="postalCode"
            />
        </mat-form-field>

        <mat-select-country appearance="outline"
                    label="Country"
                    formControlName="Country"
                    (onCountrySelected)="onCountrySelected($event)">
        </mat-select-country>
  
        <button
          mat-raised-button
          type="button"
          id="register-button"
          color="primary"
          [disabled]="form.invalid"
          (click)="registerRequest()"    
        >
          Sign up
        </button>       
      </form>
  </mat-card>    
</div>
