<mat-card class="friend-search-card">
    <div class="search-container">
        <mat-form-field appearance="outline">
            <mat-label>Search users</mat-label>
            <input matInput type="text" (keydown.enter)="onSearch()" [formControl]="search" />
            <button mat-icon-button matSuffix (click)="onSearch()">
              <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div *ngFor="let c of customers">
        <mat-card class="customer-data">
            <div class="left-side" [routerLink]="['/customer/profile', c.id]">
                <div class="circular-container">
                    <img matTooltip="Profile image" src="{{c.imageUrl}}" alt="User Photo" class="circular-image">                    
                </div>
                <div class="customer-name">
                    <div>{{c.name}} {{c.surname}} </div>
                    <span> @{{c.userAccount.username}}</span>
                </div>          
            </div>
            <div class="add-button">
                <button *ngIf="!isFriend(c.id) && !pending" matTooltip="Add Friend" (click)="addFriend(c.id)" mat-raised-button><mat-icon>person_add</mat-icon></button>
                <button *ngIf="isFriend(c.id)" matTooltip="Already friends" [disabled]="true" mat-raised-button><mat-icon>how_to_reg</mat-icon></button>
                <button *ngIf="!isFriend(c.id) && pending" matTooltip="Pending" [disabled]="true" mat-raised-button><mat-icon>person</mat-icon></button>
            </div>           
        </mat-card>
    </div>
</mat-card>
