<div class="section-title">Notifications</div>
<div *ngIf="loading" class="loading">
    <mat-spinner></mat-spinner>
</div>        
<div *ngIf="!loading && notifications.length !== 0">
    <div class="notification-list">
        <ng-container *ngFor="let n of notifications">
            <app-notification [notification]="n"></app-notification>
        </ng-container>        
    </div>
    <mat-paginator 
        [length]="totalNotifications"
        [pageSize]="pageSize"
        (page)="onPageChange($event)"
        aria-label="Select page">
    </mat-paginator>    
</div>
<div *ngIf="!loading && notifications.length === 0" class="no-notifications">      
    No notifications
</div>