<div class="book-page">
    <div *ngIf="book" class="book-container">
        <mat-card class="book">
            <div class="image-container">
                <img src="{{book.imageUrl}}" alt="Book Image">
            </div>
            <div class="book-details">
                <div class="title">{{book.title}}</div>
                <div class="author">{{authorNames}}</div>
                <div class="{{book.discount === 0 ? 'price' : 'not-price'}}">
                    {{book.price | currency:'EUR'}}
                </div>
                <div *ngIf="book.discount !== 0" class="discount-price">
                    {{discountPrice | currency:'EUR'}}
                </div>
                <div class="rating">
                    <div>Rating: <span> {{book.averageRating}}</span></div>
                    <p-rating [(ngModel)]="book.averageRating" [readonly]="true" [cancel]="false"></p-rating>
                </div>                
                <div class="button-container">
                    <button mat-raised-button (click)="addToCart()"
                    class="{{buttonClicked ? 'button-clicked' : 'button' }}"
                    >{{ buttonClicked ? 'Added to Cart' : 'Add to Cart' }}</button>
                </div>
                <div class="book-information">
                    <div class="column">
                        <div class="row">
                            <span class="row-title">ISBN:</span>
                            <span class="row-data">{{book.isbn}}</span>
                        </div>
                        <div class="row">
                            <span class="row-title">Publisher:</span>
                            <span class="row-data">{{book.publisher.name}}</span>
                        </div>
                        <div class="row">
                            <span class="row-title">Pub date:</span>
                            <span class="row-data">{{publishingDate}}</span>
                        </div>
                        <div class="row">
                            <span class="row-title">Language:</span>
                            <span class="row-data">{{book.language}}</span>
                        </div>
                    </div>
                    <div class="column">
                        <div class="row">
                            <span class="row-title">Number of pages:</span>
                            <span class="row-data">{{book.pages}}</span>
                        </div>
                        <div class="row">
                            <span class="row-title">Weight:</span>
                            <span class="row-data">{{book.weight}}g</span>
                        </div>
                        <div class="row">
                            <span class="row-title">Height:</span>
                            <span class="row-data">{{book.height}}cm</span>
                        </div>
                        <div class="row">
                            <span class="row-title">Width:</span>
                            <span class="row-data">{{book.width}}cm</span>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
        <mat-card class="recommendations">
            <div class="recommendations-header">
                <span><hr /></span>
                <span>We recommend</span>
                <span><hr /></span>
            </div>
            <div class="recommendations-main">
                <ng-container *ngFor="let b of books">
                    <app-book-card [book]="b"></app-book-card>
                </ng-container>
            </div>
        </mat-card>
    </div>
    <div class="cart">
        <app-cart></app-cart>
    </div>
</div>
