<div class="book-page">
    <div *ngIf="loading" class="book-container">
        <div class="loading">
            <mat-spinner></mat-spinner>
        </div>        
    </div>
    <div *ngIf="book" class="book-container">        
        <mat-card class="book">
            <div class="image-container">
                <img src="{{book.imageUrl}}" alt="Book Image">
            </div>
            <div class="book-details">
                <div class="title">{{book.title}}</div>
                <div class="author">                    
                    <ng-container *ngFor="let author of book.authors; let last = last">
                        <a
                          [routerLink]="['/author', author.id]"
                          class="author"                        
                        >
                          {{ author.name }} {{ author.surname }}
                        </a>
                        <ng-container *ngIf="!last">, </ng-container>
                    </ng-container>
                </div>
                <div class="{{book.discount === 0 ? 'price' : 'not-price'}}">
                    {{book.price | currency:'EUR'}}
                </div>
                <div *ngIf="book.discount !== 0" class="discount-price">
                    {{discountPrice | currency:'EUR'}}
                </div>
                <div class="rating">
                    <div>Rating: <span> {{book.averageRating}}</span></div>
                    <p-rating [(ngModel)]="book.averageRating" [readonly]="true" [cancel]="false"></p-rating>
                </div>                
                <div class="button-container" *ngIf="book.stocks !== 0">
                    <button mat-raised-button (click)="addToCart()"
                    class="{{buttonClicked ? 'button-clicked' : 'button' }}"
                    >{{ buttonClicked ? 'Added to Cart' : 'Add to Cart' }}</button>
                </div>
                <div class="button-container" *ngIf="book.stocks === 0">
                    <button mat-raised-button [disabled]="true" class="sold-out-button">Sold Out</button>
                </div>
                <div class="book-information">
                    <div class="column">
                        <div class="row">
                            <span class="row-title">ISBN:</span>
                            <span class="row-data">{{book.isbn}}</span>
                        </div>
                        <div class="row">
                            <span class="row-title">Publisher:</span>                            
                            <span *ngIf="book.publisher" class="row-data publisher">
                                <a class="row-data publisher" [routerLink]="['/publisher', book.publisher.id]">
                                {{ book.publisher.name }}
                                </a>
                            </span>
                        </div>
                        <div class="row">
                            <span class="row-title">Pub date:</span>
                            <span class="row-data">{{publishingDate}}</span>
                        </div>
                        <div class="row">
                            <span class="row-title">Language:</span>
                            <span class="row-data">{{book.language}}</span>
                        </div>
                    </div>
                    <div class="column">
                        <div class="row">
                            <span class="row-title">Number of pages:</span>
                            <span class="row-data">{{book.pages}}</span>
                        </div>
                        <div class="row">
                            <span class="row-title">Weight:</span>
                            <span class="row-data">{{book.weight}}g</span>
                        </div>
                        <div class="row">
                            <span class="row-title">Height:</span>
                            <span class="row-data">{{book.height}}cm</span>
                        </div>
                        <div class="row">
                            <span class="row-title">Width:</span>
                            <span class="row-data">{{book.width}}cm</span>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
        <mat-card *ngIf="reviews.length !== 0" class="reviews">
            <div class="reviews-header">
                <span>Reviews</span>
                <span><hr /></span>
            </div>
            <div class="reviews-main">
                <ng-container *ngFor="let r of reviews">
                    <mat-card class="review-data-card">
                        <div class="review-title">
                            {{r.title}}
                        </div>
                        <div class="review-rating">
                            <p-rating [(ngModel)]="r.rating" [readonly]="true" [cancel]="false"></p-rating>
                        </div>
                        <div class="review-text">
                            {{r.text}}
                        </div>                        
                    </mat-card>
                </ng-container>
            </div>
        </mat-card>
        <mat-card class="recommendations">
            <div class="recommendations-header">
                <span>We recommend</span>
                <span><hr /></span>
            </div>
            <div class="recommendations-main">
                <ng-container *ngFor="let b of books">
                    <app-book-card [book]="b"></app-book-card>
                </ng-container>
            </div>
        </mat-card>
    </div>
    <div class="cart">
        <app-cart></app-cart>
    </div>
</div>
