.book-page {
    display: flex;
}

.book-container {
    flex: 11;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.book {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.image-container {
    max-width: 450px;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 500px;
    border: 1px solid #ccc;
    position: relative; /* Needed for proper positioning of the image */
    overflow: hidden;
}

img {
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.book-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding-left: 15px;
}

.title {
    width: 100%;
    font-size: xx-large;
    color: #444444;
    text-align: left;
}

.author {
    width: 100%;
    font-size: x-large;
    color: #444444;
    text-align: left;
    margin-top: 15px;
}

.author:hover {
    text-decoration: underline;
    cursor: pointer;
}

.price {
    width: 100%;
    font-size: x-large;
    color: rgb(95, 95, 255);
    text-align: left;
    margin-top: 15px;
}

.not-price {
    width: 100%;
    font-size: x-large;
    color: rgb(95, 95, 255);
    text-align: left;
    margin-top: 15px;
    text-decoration: line-through;
}

.discount-price {
    width: 100%;
    font-size: x-large;
    color: rgb(95, 95, 255);
    text-align: left;
    margin-top: 10px;
    color: rgb(255, 0, 0);
}

.rating {
    margin-top: 15px;
    width: 100%;
    display: flex;    
}

.rating div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;        
    font-size: larger;
    color: #444444;
}

.rating div span {
    margin-left: 5px;
    font-family: "Lexend Peta", "Arial", sans-serif;
    font-weight: bold;
}

.rating p-rating {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    bottom: 20px;
}

.button-container .button {
    width: 40%;
    color: white;
    background-color: rgb(44, 44, 44);
}

.button-container .button-clicked {
    background-color: rgb(250, 193, 120);
    color: black;
    width: 40%;
}

.book-information {
    margin-top: 40px;
    width: 100%;
    display: flex;
    gap: 25px
}

.column {
    flex: 1;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.row-title {
    font-size: large;
}

.row-data {
    font-size: large;
    text-align: right;
    color: #777;
}

.recommendations {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.recommendations-header {
    text-align: center;
    font-size: large;
}

.recommendations-main {
    display: flex;
    justify-content: space-between;
}

.cart {
    flex: 2;
}